{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
{% if user.username == "alejandro" %}
<div class="contenedorFormularioFarma">
  
<table style="color:white;" >
    <tr style="font-size: 1.4em;">
      <th>Nombre Articulo</th>
      <th style="padding-left: 50px;">Fecha caducidad</th>
      <th style="padding-left: 50px;">Cantidad</th>
    </tr>
    {% for articulo in articulos %}
    
    
    <tr style="font-size: 1.3em;">
      <td>{{articulo.nombreArticulo}}</td>
      <td style="padding-left: 50px;">{{articulo.fecharda}}</td>
      <td style="padding-left: 50px;">{{articulo.cantidad}}</td>
      
      <td style="padding-left: 50px;"><a class="btn btn-success" href='{% url "stock:Edit" articulo.id  %}'> Editar</a></td>
      <td style="padding-left: 50px;"><a class="btn btn-danger" href='{% url "stock:Delete" articulo.id  %}'>Eliminar</a></td>
      {% if articulo.fecharda <= fecha %}
        <td style="color:red; padding-left: 40px;">VENCIDO</td>
        {% endif %}
      
    </tr>
    {% endfor %}
    
  </table>
</div>
  
<div style="color:white; margin-top: 10px; margin-bottom: 10px;" class="text-center">
  <a class="btn btn-outline-secondary text-center" style="color:white" href='{% url "stock:Create"  %}'>Agregar nuevo articulo</a>
  <h2><a class="btn btn-primary text-center" style="color:white; margin-top: 10px;" href='{% url "stock:FarmaciaLiquido"   %}'>Ir a liquidos</a></h2>
</div>
{% endif %}          

{% endblock %}